.layoutBox {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    
    url("https://image.freepik.com/free-photo/businesspeople-celebrating-success_1098-1996.jpg");

    color: white;
    font-size: 25px;
}