#training {
    padding: 10px 30px 10px 30px;
}

.ttitle {
    font-weight: bold;
    border-bottom: 4px solid orange;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 60px;
}

.tcap {
    border-bottom: 4px solid orange;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.tcurContent {
    display: flex;
    justify-content: space-around;
}

.pleft, .pright{
    width: 40%;
}

.pleft {
    text-align: right;
}

.pright {
    text-align: left;
}

.type b {
    color: #3b57cc;
    font-size: 30px;
}

.type li {
    list-style: none;
}